

 <h3 mat-dialog-title>Add Stock Symbol - {{data.name}}</h3>
<mat-dialog-content>
  <form class="example-form" [formGroup]="form"> 

        <!-- min price input control -->
        <div class="form-control">
        <label>Min Price</label>                     
          <mat-form-field class="example-full-width mat-width" appearance="fill">
            <input matInput autocomplete="off" formControlName="minPrice">
          </mat-form-field>
      </div>
  
       <!-- max price input control -->
       <div class="form-control">
         <label for="">Max Price</label>
           <mat-form-field class="example-full-width mat-width" appearance="fill">
             <input matInput autocomplete="off" formControlName="maxPrice">
           </mat-form-field>
      </div>
  
      <!-- expire form control -->
      <div class="form-control ctrl-toggle">
          <mat-slide-toggle [color]="color" formControlName="expire" [(ngModel)]="checked">Expire</mat-slide-toggle>
      </div>
  
      <!-- datepicker form control -->
      <div class="form-control mat-datepicker">
        <mat-form-field appearance="fill" class="mat-width" *ngIf="checked">
          <input matInput [matDatepicker]="picker" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        
      </div>
    </form>
    <mat-dialog-actions  class="form-control btn-save" style="justify-content: flex-end;">
        <button mat-dialog-close mat-raised-button mat-flat-button (click)="getAndSetFormData(form.value)" >Save</button>
    </mat-dialog-actions>
    

    </mat-dialog-content>